* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-flow: row wrap-reverse;
    padding: 30px;
    /* background-color: rgba(0, 0, 0, 0.3); */
    background-image: url('../imagem/5576289.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    font-family: Arial, Helvetica, sans-serif;
    color:#F7941E
}

.login-icon img {
    width: 350px;
}

.login-icon-text, form {
    display: flex;
    flex-flow: column nowrap;
    flex-shrink: 1;
    flex-grow: 1;
}

h1, h2 {
    color: white;
}

h1 {
    font-size: 2rem;
    margin-top: 10px;
}

h1 span {
    color: #4a86e8;
    font-weight: bold;
}

h2 {
    font-size: 3rem;
    margin-top: 5px;
}

form {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    height: 88vh;    
}

.borda-animada {
    background-color: transparent;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.borda-animada::before {
    content: '';
    position: absolute;
    width: 200px;
    height: 160%;
    background: linear-gradient(180deg,#004aad, #cc701a);

    animation: animate 6s linear infinite;
}
@keyframes animate {
    100%{
        transform: rotate(360deg);
    }
}
.borda-animada::after {
    content: '';
    position: absolute;
    background-color: black;
    inset: 5px;
    border-radius: inherit;
}

fieldset {    
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    padding: 20px;
    position: relative;
    z-index: 1;    
    transform: scale(1);
    transition: all 300ms ease-in-out;
}

fieldset:hover {
    transform: scale(1.01);
}

legend {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    padding-top: 10px;
    margin-bottom: 30px;
}

.campos {
    margin-bottom: 32px;
    font-size: 18px;
}

.info {     
    width: 500px;
    margin-top: 5px;
    padding: 15px;
    font-size: 15px;
    border: none;
    border-radius: 20px;
    outline: 0;    
}

.lembrar-senha {
    display: flex;
    width: 500px;
    align-items: center;
    margin-bottom: 30px;
}
.lembrar-senha label {
    font-size: 20px;
    padding-left: 5px;

       
}
.lembrar-senha a {
    margin-left: auto;
    color: #46698f;
    display: inline-block;
    font-size: 20px;
    padding-right: 5px;
   
}
.lembrar-senha input {
    min-width: 25px;
    min-height: 25px;
}

.Btn {
    width: 500px;
    background:linear-gradient(90deg, #5de0e6,#004aad);
    color: white;
    cursor: pointer;
    padding: 18px;
    border-radius: 28px;
    border: none;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
}

.cadastro a {
    color: #46698f;
    font-size: 20px;
    padding-left: 10px;
}
.cadastro span {
    font-size: 20px;
}



