* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif; 
    overflow-x: hidden;
}

header {
    height: 120px;
    display: flex;
    justify-content: center;
    background: linear-gradient(-110deg, #58c0c5, #004aad);
    /* Opções de degradê em graus*/
    /* 90, 110, -110 180, 135, 

     */
    /* background-color: rgb(76, 76, 165); Cor anterior*/
}   

.header {
    display: flex;
    justify-content: space-between;
    width: 1200px;
}

.logo {
    display: flex;
    align-items: center;
    width: 100px;
}

.logo img {
    width: 245px;
}

.menu {
    display: flex;
    align-items: center;
}

nav ul,
nav li {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul {
    display: flex;
}

nav a{
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    transition: all 0.3s;
}

nav a:hover {
    color: #F7941E;
}

.icons {
    display: flex;
    align-items: center;
    
}

.icons img {
    width: 30px;
    margin-left: 15px;
}

section.slider {
    margin: 0 auto;
    width: 100%;
    height: 550px;
    padding: 0 !important;
    overflow: hidden;
}

.slider-content {
    width: 400%;
    height: 100%;
    display: flex;
}

.slider-content input {
    display: none;
}

.slide-box { /**/
    width: 25%;
    height: 550px;
    position: relative;
    text-align: center;
}

.slide-box a img {
    width: 100%;
    object-fit: cover;
}

.nav-manual, .nav-auto {
    width: 100%;
    position: absolute;
    margin-top: 26%;
    display: flex;
    justify-content: center;
}
.nav-manual .manual-btn, .nav-auto div {
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    transition: 0.2s;
}

.nav-manual .manual-btn:not(:last-child),
.nav-auto div:not(:last-child) {
    margin-right: 10px;
}

.nav-manual .manual-btn:hover {
    background-color: #F7941E;
}

#radio1:checked ~ .nav-auto .auto-btn1,
#radio2:checked ~ .nav-auto .auto-btn2,
#radio3:checked ~ .nav-auto .auto-btn3 {
    background-color: #F7941E;
}

#radio1:checked ~ .primeiro {
    margin-left: 0%;
}
#radio2:checked ~ .primeiro {
    margin-left: -25%;
}
#radio3:checked ~ .primeiro {
    margin-left: -50%;
}


.banner-main-defaults {
    background-image: url('../images/banner-main.png');
    background-size: cover; 
    background-attachment: fixed;
    background-position: center;
    
}

/* Área Notícias (Sistema)...*/
.default {
    padding-top: 98px;
    margin-bottom: 50px;
}

.default .section-title h2 {
    color: #F7941E;
    font-size: 60px;
    font-weight: 700;
    text-shadow: 0px 1px 0px #555;
}

.default .section-desc {
    font-size: 14px;
    font-weight: 200;   
    margin-top: 10px;
    color: #54595f;
    text-shadow: 0px 0px 1px #555;
}

.default .section-title,
.default .section-desc,
.default .section-body {
    max-width: 1200px;
    margin: auto;
}

.default_2 { /* Área Impacto Social (Sistema)...*/
    background-color: rgba(0, 0, 0, 0.8);
    margin-bottom: 50px;
}

.default_2 .section-title h2 {
    color: #fff;
    font-size: 60px;
    font-weight: 700;
    text-shadow: 0px 1px 0px #555;
    margin-bottom: 30px;
}

.default_2 .section-title,
.default_2 .section-body {
    max-width: 1200px;
    margin: auto;
}


/* CSS DE ÁREAS ESPECÍFICAS 
Largura área notícias: 345px
Altura área notícias 1 parte (altura imagem): 208px
Altura área notícias 2 parte (conteúdo): 386px
*/
.section-noticias {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 70px;
}

.section-noticias--areas {
    width: 345px;
    height: 594px;
    border-radius: 8px 8px 8px 8px;
    box-shadow: 0px 0px 2px #333;
    transition: all 0.7s;
}

.section-noticias--areas:hover  {
    box-shadow: 0px 0px 10px #333;
} 

.section-noticias--areas.area1,
.section-noticias--areas.area2,
.section-noticias--areas.area3 {
    margin-bottom: 15px;
}

.section-noticias--areas.area4,
.section-noticias--areas.area5,
.section-noticias--areas.area6 {
    margin-top: 15px;
}

.section-noticias--areas {
    display: flex;
    flex-direction: column;
}

.noticias-img {
    height: 208px;
}

 .noticias-img img {
    width: 100%;
    border-radius: 8px 8px 0px 0px;
}

.noticias-title-desc-mais {
    flex: 1;
    padding: 0 22px;
    margin-top: 22px;
    background-color: #FDF3DD;
}

.noticias-title-desc-mais h2 a,
.noticias-mais {
    text-decoration: none;
}

.noticias-title-desc-mais h2 a {
    color: #044b6c;
}

.noticias-title-desc-mais h2 {
    color: #044b6c;
    font-size: 21px;
    margin-top: 22px;
    margin-bottom: 22px;
}

.noticias-title-desc-mais p {
    margin-bottom: 22px;
    font-size: 14px;
    color: #777;
    line-height: 22px;
    text-align: left;
}
    
.noticias-mais .palavra, .simbolo {
    color: #ff7d5a;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
}

.noticias-mais .simbolo {
    font-size: 10px;
    font-weight: 900;
}

.noticias-data {
    border-top: 1px solid #ccc;
    border-radius: 0px 0px 8px 8px;
    background-color: #FDF3DD;
}

.noticias-data span {    
    display: inline-block;
    font-size: 13px;
    color: #7a7a7a;
    padding: 15px 25px;
    text-align: left;
}



/* Área Impacto Social (Específica)...*/
.default_2 .section-body {
    display: grid;
    grid-template-columns: repeat(4, minmax(150px, 1fr));
    gap: 22px;
}

.default_2 .item {
    background: linear-gradient(-135deg, #58c0c5, #004aad);
    color: #333;
    box-shadow: 3px 3px 4px #333;
    font-size: 20px;
    border-radius: 25px;
    min-height: 157px;
    /* Opções de degradê em graus*/
    /* 90, 110, -110, 180, 135 */ 
}

.default_2 .itemarea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 12;
    padding: 10px;
}

.default_2 .itemarea img {
    width: 67px;
}

.default_2 .itemarea span {
    font-weight: bolder;
    font-size: 23px;
}

.default_2 .itemarea img, span {
    margin-bottom: 18px;
}

.default_2 .itemarea p {
    font-size: 19px;
}


@media (max-width: 800px) {
    .default_2 .section-body {
        grid-template-columns: 1fr;
    }
}