* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

header {
    height: 120px;
    display: flex;
    justify-content: center;
    background: linear-gradient(-110deg, #58c0c5, #004aad);
   
}

.header {
    display: flex;
    justify-content: space-between;
    width: 1200px;
}

.logo {
    display: flex;
    align-items: center;
    width: 245px;
}
.logo img {
   width: 100%;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}
.hamburger div {
    width: 30px;
    height: 3px;
    background: white;
    margin: 5px 0;
    
}
@media (max-width: 768px) {
    .menu ul {
        display: none;
        flex-direction: column;
        width: 100%;
        background: #004aad;
        position: absolute;
        top: 50px;
        left: 0;
        text-align: center;
        align-items: center;
    }
    .menu ul.active {
        display: flex;
        
    }
    .hamburger {
        display: flex;
       
        
    }
    .nav.nav.active-menu{
        display: flex;
      


    }
}

nav ul,
nav li {
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul {
    display: flex;
    
}
nav a{
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    transition: all 0.4s;
}
nav a:hover {
    color: #F7941E;
}

.icons {
    display: flex;
    align-items: center;
}
.icons a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 15px;
    margin-left: 10px;
    transition: all 0.6s;
}
.icons a:hover {
    background-color: #F7941E;
}
.icons img {
    width: 20px;
    height: 20px;
}

section.slider-Carrossel {
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 0 !important;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.1);
}

.slider-content-Carrossel {
    width: 400%;
    height: auto;
    display: flex;
    
}

.slider-content-Carrossel input {
    display: none;
}

.slide-box { /**/
    width: 25%;
    height: auto;
    position: relative;
    text-align: center;    
}

.slide-box a img {
    width: 100%;
    object-fit: cover;
}

.nav-manual, .nav-auto {
    width: 100%;
    position: absolute;
    margin-top: 33%;
    display: flex;
    justify-content: center;
}
.nav-manual .manual-btn, .nav-auto div {
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    transition: 0.2s;
}

.nav-manual .manual-btn:not(:last-child),
.nav-auto div:not(:last-child) {
    margin-right: 10px;
}

.nav-manual .manual-btn:hover {
    background-color: #F7941E;
}

#radio1:checked ~ .nav-auto .auto-btn1,
#radio2:checked ~ .nav-auto .auto-btn2,
#radio3:checked ~ .nav-auto .auto-btn3 {
    background-color: #F7941E;
}

#radio1:checked ~ .primeiro {
    margin-left: 0%;
}
#radio2:checked ~ .primeiro {
    margin-left: -25%;
}
#radio3:checked ~ .primeiro {
    margin-left: -50%;
}

.banner-main-defaults {
    background-image: url('../images/banner_body_1.1.png');
    background-size: cover; 
    background-attachment: fixed;
    background-position: center;
}

.banner-main-defaults--sombra {
    background-color: rgba(0, 0, 0, 0.1);
}

/* Área Notícias (Sistema)...*/
.default {
    padding-top: 98px;
    margin-bottom: 30px;
}
.default .section-title.noticias h2 {
    color: #F7941E;
    font-size: 60px;
    font-weight: 700;
    text-shadow: 0px 1px 0px #555;
}
.default .section-desc {
    font-size: 14px;
    font-weight: 200;
    padding-top: 15px;
    color: #303337;  
    text-shadow: 0px 0px 1px #555;
}
.default .section-title,
.default .section-desc,
.default .section-body {
    max-width: 1200px;
    margin: auto;
}

.botao-noticias {                        
    text-align: center;
}
.botao-noticias a {
    text-decoration: none;
    display: inline-block;
    color: white;
    background-color: #F7941E;
    padding: 16px 15px;
    border-radius: 4px;
}

.default_2 { /* Área Impacto Social (Sistema)...*/
    background-color: rgba(0, 0, 0, 0.8);
    padding-bottom: 50px;
    padding-top: 20px;
}
.default_2 .section-title h2 {
    color: #fff;
    font-size: 60px;
    font-weight: 700;
    text-shadow: 0px 1px 0px #555;
    margin-bottom: 30px;    
}
.default_2 .section-title,
.default_2 .section-body {
    max-width: 1200px;
    margin: auto;
}

/* CSS DE ÁREAS ESPECÍFICAS 
Largura área notícias: 345px
Altura área notícias 1 parte (altura imagem): 208px
Altura área notícias 2 parte (conteúdo): 386px
*/
.section-noticias {
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 45px;
    margin-bottom: 30px;    
}

.section-noticias--areas {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-width: 285px;
    margin: 15px 0;
    background-color: #FDF3DD;
    box-shadow: 0px 0px 2px #333;
    border-radius: 8px 8px 8px 8px;
    transition: all 0.7s;
}

.section-noticias--areas .noticias--areas {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.section-noticias--areas:hover  {
    box-shadow: 0px 0px 10px #333;
}

.section-noticias--areas:not(:nth-child(3n)) {
    margin-right: 84px;
}

.noticias-img a {
    display: block;
    height: 208px;
}

 .noticias-img img {
    width: 100%;
    height: 100%;
    border-radius: 8px 8px 0px 0px;
}

.noticias-title-desc-mais {
    display: flex;
    flex-direction: column;
    padding: 0 22px;
    background-color: #FDF3DD;
    border-radius: 0px 0px 8px 8px;
}

.noticias-title-desc-mais h2 a,
.noticias-mais {
    text-decoration: none;
}

.noticias-title-desc-mais h2 a {
    color: #044b6c;
}

.noticias-title-desc-mais h2 {
    color: #044b6c;
    font-size: 21px;
    padding-top: 22px;
    padding-bottom: 22px;
}

.noticias-title-desc-mais p {
    margin-bottom: 22px;
    font-size: 14px;
    color: #777;
    line-height: 22px;
    text-align: left;
}

.noticias-mais {
    margin-bottom: 10px;
}

.noticias-mais .palavra, .simbolo {
    color: #ff7d5a;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
}

.noticias-mais .simbolo {
    font-size: 10px;
    font-weight: 900;
    
}

.noticias-data {
    border-top: 1px solid #ccc;
    border-radius: 0px 0px 8px 8px;
}
.data_noticia {
    font-size: 13px;
    color: #7a7a7a;
    padding-top: 15px;
    border-top: 1px solid #ccc;
    padding-left: 22px;
    
}

/* Área Impacto Social (Específica)...*/
.default_2 .section-body {
    display: grid;
    grid-template-columns: repeat(4, minmax(150px, 1fr));
    gap: 22px;
}

.default_2 .item {
    background: linear-gradient(-135deg, #58c0c5, #004aad);
    color: #333;
    box-shadow: 3px 3px 4px #333;
    font-size: 20px;
    border-radius: 25px;
    min-height: 157px;
    
}

.default_2 .itemarea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 12;
    padding: 10px;
}

.default_2 .itemarea img {
    width: 67px;
    
}
.default_2 .itemarea span {
    font-weight: bolder;
    font-size: 23px;
}

.default_2 .itemarea img, span {
    margin-bottom: 18px;
}

.default_2 .itemarea p {
    font-size: 19px;
}

@media (max-width: 768px) {
    .default_2 .section-title h2 {
        font-size: 50px; /* Reduz o tamanho da fonte */
    }
}

@media (max-width: 408px) {
    .default_2 .section-title h2 {
        font-size: 40px;
    }
}

@media (max-width: 408px) {
    .default_2 .section-title h2 {
        font-size: 32px;
    }
}

footer {
    height: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(-110deg, #FCC48F, #cc701a);
    text-align: center;
}

.logo.footer {
    max-width: 200px;
}

.meio--tel-email-end {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.meio--tel-email-end .tel-email,
.meio--tel-email-end .end {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    flex-wrap: wrap;
}

.meio--tel-email-end .tel-email img,
.meio--tel-email-end .end img {
    width: 21px;
    height: 21px;
    margin-right: 3px;
}

.meio--tel-email-end .tel-email .num-tel {
    margin-right: 10px;
}

.copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    width: 100%;
}

.copyright a {
    text-decoration: none;
    color: #000;
    font-size: 14px;
    font-weight: 500;
    padding: 5px 0;
}

.copyright h2 {
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    padding: 5px 0;
}

@media (min-width: 768px) {
    footer {
        flex-direction: row;
        justify-content: space-around;
        text-align: left;
        
    }
    .meio--tel-email-end {
        align-items: flex-start;
    }
    .copyright {
        flex-direction: row;
        justify-content: space-between;
    }
    .copyright a {
        padding-left: 20px;
    }
    .copyright h2 {
        padding-right: 20px;
    }
}
