* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    height: 132px;
    background-color: rgb(76, 76, 165);
}

.header {
    max-width: 1140px;
    height: 132px;
    display: flex;
    background-color: brown;
    margin: auto;
    align-items: center;
}

.logo {
    width: 60px;
    background-color: aqua;
}

.logo img{
    width: 60px;
    height: 60px;
}

.menu {
    background-color: blueviolet;
    flex: 1;
    color: aliceblue;
}

.icones {
    width: 120px;
    background-color: blue;

}