* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif; 
}

.default {
    padding-top: 98px;
    margin-bottom: 50px;
    background-color: blue;
} 

.section-noticias{
    display: flex;
    max-width: 1200px;
    flex-wrap: wrap;
    background-color: red;

}

.noticias h1{
    color: #F7941E;
    font-size: 60px;
    font-weight: 700;
    text-shadow: 0px 1px 0px #555;
}

.default .section-title,
.default .section-body {
    max-width: 1200px;
    margin: auto;
    background-color: #F7941E;
}



.section-noticias--areas {
    flex: 1;
    border-radius: 8px 8px 8px 8px;
    box-shadow: 0px 0px 2px #333;
    transition: all 0.7s;
    display: flex;   
}

.section-noticias--areas:hover  {
    box-shadow: 0px 0px 10px #333;
} 

.noticias-img a {
    display: block;
    height: 208px;
}

 .noticias-img img {
    width: 100%;
    height: 100%;
    border-radius: 8px 8px 0px 0px;
}



.noticias-title-desc-mais h2 a,
.noticias-mais {
    text-decoration: none;
}

.noticias-title-desc-mais h2 a {
    color: #044b6c;
}


    
.noticias-mais .palavra, .noticias-mais .simbolo {
    color: #ff7d5a;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
}

.noticias-mais .simbolo {
    font-size: 10px;
    font-weight: 900;
}

.noticias-data {
    border-top: 1px solid #ccc;
    border-radius: 0px 0px 8px 8px;
    background-color: #FDF3DD;
}

.noticias-data span {    
    display: inline-block;
    font-size: 13px;
    color: #7a7a7a;
    padding: 15px 25px;
    text-align: left;
}

