

body {
    background-color: #f8f8f8;
    font-family: Arial, sans-serif;
}

header {
    color: #fff;
    text-align: center;
    padding: 20px;
}

body > p {
    margin: 50px;
    font-size: 15px;
    padding: 10px;

}

.card {
    width: 400px;
    border: #333;
    padding: 10px;
    margin: 20px;
    box-shadow: 0 0 5px #333;
    text-align: center;
}
.card img {
    max-width: 10%;
    height: auto;
}


section {
    background-color: #f0f0f0;
    padding: 20px;
}


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 10%;
}