body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ccc;
}

.hero {
    background-image: url('../images/bg-1.jpg');
    height: 500px;
    background-size: cover;
    background-position: right center;
    padding-top: 1px;
}

.hero-content {
    margin: 80px auto 0;
    width: 80%;
    text-align: center;
    color: white;
}

.hero-content h1 {
    font-size: 56px;
    text-shadow: 2px 2px 2px black;
    text-transform: uppercase;
    margin-bottom: 0;
}

.hero-content p {
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 20px;
    display: inline-block;
    padding: 15px;
    border-bottom: 2px solid;
}

.hero nav ul {
    margin: 9px 50px 0 0;
    text-align: right;
}

.hero nav li {
    display: inline-block;
    list-style-type: none;
    border: 1px solid white;
    margin-left: 20px;
    
}

.hero nav a {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 16px;
    display: block;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px; /* Espaço entre as letras */
}

.hero nav a:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.container-noticias {
    display: flex;
}

aside {
    max-width: 275px;
    width: 275px;
    margin: 20px 15px;
}

.widget {    
    border: 1px solid #CCC;
    background-color: #FFF;
    margin-bottom: 10px;
}

.widget .widget-titulo {
    height: 30px;
    border-bottom: 1px solid #CCC;
    background-color: #DDD;
    line-height: 30px;
    padding-left: 5px;
    font-size: 14px;
}

.widget .widget-conteudo {
    text-align: center;
    padding: 5px 0px;
}

/* 1 - facebook like box, 2- Facebook Like Box - Social Plugins, 3 - plugin de Página
   4 - Receber código, 5 - IFrame*/
.widget .widget-conteudo .publicidade {
    width: 273px;
}

.widget .widget-conteudo .publicidade img {
    width: 100%;
}

.widget-conteudo.icons img {
    width: 20px;
}

.widget-conteudo.icons img {
    width: 20px;
}

.widget .widget-conteudo .noticia-item {
    font-size: 14px;
    margin: 0px 10px;
    padding: 10px 0px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}
.widget .widget-conteudo .noticia-item  a {
    text-decoration: none;
    color: #000;
}

.widget .widget-conteudo p {
    margin: 0;
}

.container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .artgs {
    background-color: white;
    max-width: 1000px;
    padding: 10px 10px;
    border-radius: 3px;
    margin-top: 20px;
}

.container .artgs h2 {
    font-weight: bolder;
    margin: 0;
}

.container .artgs p {
    line-height: 25px;
}

.container .artgs header {
    border-radius: 3px;
    padding: 10px 0px;
    padding-left: 5px;
    background-color: rgba(0, 0, 0, 0.2);
}

.container .artgs a {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 16px;
    display: inline-block;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    border-radius: 3px;
}

.container .artgs.artg3 {
    margin-bottom: 20px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    background-color: rgba(0, 0, 0, 0.3);
}

footer .rodape {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    font-weight: bolder;
}

footer .icons {
    display: flex;
    align-items: center;    
}

footer .icons img {
    width: 20px;
    margin-left: 15px;
}