* {
    box-sizing: border-box;
}

body {    
    background-color: #FCC48F;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    color: #000;
}




form {
    display: flex;
    justify-content: center;
    align-items: center;        
    height: 97vh;
    width: 100%;
}

fieldset {
    /*background-color: #fff; /* Quarto valor é a taxa de tranparência da cor. vai de 0 a 1 ou seja 0% a 100% */
    margin-top: 10px;    
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
      
  
}
    
legend {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 45px;
}

.campos {
    margin-bottom: 32px;
    font-size: 18px;
   
}

.info { 
    width: 500px;
    margin-top: 5px;
    padding: 15px;
    font-size: 15px;
    border: none;
    border-radius: 20px;
    outline: 0;  
    
}

.lembrar-senha{
    display: flex;
    width: 500px;
    align-items: center;
    margin-bottom: 30px;
}
.lembrar-senha label{
    font-size: 20px;
    padding-left: 5px;

       
}
.lembrar-senha a {
    margin-left: auto;
    color: #46698f;
    display: inline-block;        
    font-size: 20px;
    padding-right: 5px; 
   
}
.lembrar-senha input{
    min-width: 25px;
    min-height: 25px;
}


.Btn{
    width: 500px;
    background:linear-gradient(90deg, #5de0e6,#004aad);
    color: white;
    cursor: pointer;
    padding: 18px;
    border-radius: 28px;
    border: none;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
}

.cadastro a {
    color: #46698f;
    font-size: 20px;
    padding-left: 10px;
    
}
.cadastro span{
    font-size: 20px;
}



