* {
  margin: 0;
  padding :0;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-family: "popins" , sans-serif
}
 

.body {
    /* margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif; */

    display: flex;
  }
  .container {
      display: grid;
      grid-template-areas: 
          "header header"
          "sidebar main"
          "footer footer";
      grid-template-columns: 250px 1fr;
      grid-template-rows: 70px 1fr 100px;
      height: 100vh;
  }
  .header {
      grid-area: header;
      background-color: #f6b080;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 20px;
  }
  .logo {
      /* font-weight: bold; */

      height: 80px;
      padding: 16px;
  }
  
  .user-info {
      display: flex;
      align-items: center;
  }
  .user-info span {
      margin-right: 10px;
  }
  .user-icon {
      width: 30px;
      height: 30px;
      background-color: #faf9fc;
      border-radius: 50%;
  }
  
  .sidebar {
      /* grid-area: sidebar;
      background-color: #3066b8;
      padding-top: 20px; */

      position: sticky;
      top: 0;
      left: 0;
      bottom: 10px;
      width: 240;
      height: 100vh;
      padding: 0 1.7rem;
      color: #5386d399;
      overflow: hidden;
      transition: all 0.5s linear;
      background-color: #3066b8;

  }

 
  .menu li {
      list-style: none;
      height: 88%;
      position: relative;
      padding: 0;
      
  }
  
  .menu li :hover,:active {
      margin: 8px 0;
      padding: 1rem;
      border-radius: 8px;
      transition: all 0.5s ease-in-out;
     
    
  }
  
  .sidebar li:hover {
     background-color: #e0e0e058;



  }
  .sidebar nav ul li a {
      text-decoration: none;
      color: white;
      padding-left: 20px;
      display: block;
  }
  
  .main-content {
      grid-area: main;
      padding: 20px;
      background-color: #85a9d2;
  }

  .actions {
      margin-bottom: 20px;
     
  }
  
  .btn {
      padding: 10px 20px;
      margin-right: 10px;
      border: none;
      color: white;
      cursor: pointer;
  }
  
  .pesquisar {
      background-color: #7bd1b5;
  }
  
  .cadastrar {
      background-color: #1f3f61;
  }
  
  .form-select {
      margin-bottom: 20px;
      margin-left: 1200px;
      display: flex;
   
    

      

  
    
  }
  
  .form-btn {
      padding: 10px 20px;
      margin-right: 100px ;
      border: none;
      color: white;
      cursor: pointer;

  }
  
  .pessoa-fisica {
      background-color: #33cc33;
      display: flex;
       
        
  }
  
  .pessoa-juridica {
      background-color: #ff704d;
  }
  
  .content-area {
      background-color: #678cc4;
      height: 100px;
      margin-top: 5px;
      position: static;
  }
  
  .footer {
      grid-area: footer;
      background-color: #f6b080;
      padding: 20px;
      display: flex;
      justify-content:space-between;
      align-items: center;
  }
  
  .footer-info {
      font-size: 14px;
    
  }
  
  .contact-info span {
      display: block;
  }
  .social-icons a {
      margin-right: 10px;
      text-decoration: none;
      color: rgb(8, 8, 8);
  }
  
  .credits {
      font-size: 12px;
  }
